# Node dependencies
node_modules/

# Environment variables
.env

# Config files with secrets
config/apiKeys.js

# Logs
logs/
*.log

# OS files
.DS_Store

# dist folder
dist/
*.local
serviceAccount.json